.App {
  background-color: rgb(230, 228, 228);
  height: 100vh;

  place-items: center;
  display: grid;
}
.AppBody {
  margin: 10 px;
  display: flex;
  height: 90vh;
  width: 90vw;
  background-color: rgb(245, 244, 244);
  margin-top: -20px;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 75);
}
